.App {
  text-align: center;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 14px;
  margin: 10px;
  width: 300px;
  height: 300px;
}

button {
  padding: 12px 18px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  background-color: lightcoral;
  color: white;
  font-weight: bold;
}

h1 {
  color: #333;
}